* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  height: 100vh;
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.8em;
}

.navigation a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 15px;
  border-radius: 20px;
  justify-content: space-between;
}

.navigation a:hover {
  background: hsl(216, 30%, 68%);
}

section {
  padding: 100px 200px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.main img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-left: 800px;
  align-items: center;
  position: absolute;
  padding: 20px;
  display: flex;
}

.main h2 {
  font-size: 1.4em;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: hsl(216, 30%, 68%);
  font-size: 2.5em;
  font-weight: 600;
}

.main h3 {
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: white;
  background-color: hsl(216, 30%, 68%);
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 30px;
  margin-bottom: 40px;
  transition: 0.4s ease;
}

.main-btn:hover {
  background-color: hsl(256, 26%, 20%);
  transform: scale(1.1);
}

.social-icons a {
  color: black;
  font-size: 1.7em;
  padding-right: 25px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: hsl(216, 30%, 68%);
  width: 12.1em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.4s ease;
}

.icon {
  font-size: 4.5em;
  text-align: center;
}

.info h3 {
  text-align: center;
  font-size: 1.2em;
}

.projects .content {
  margin-top: 30px;
}

.project-card {
  background: #837d87;
  border: 0.5px solid #fff;
  min-height: 14em;
  width: 20.5em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.5s ease;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-card:hover .project-image {
  opacity: 0.9;
}

.project-image img {
  width: 100%;
}

.project-info {
  padding: 1em;
}

.project-title {
  display: flex;
  justify-content: space-between;
}

.more-details {
  color: #fff;
}

.contact .icon {
  font-size: 4.5em;
}

.contact .info p {
  font-size: 0.9em;
  text-align: center;
}

.footer {
  background-color: #837d87;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.2em;
  font-weight: 600;
}

.footer .social-icons a {
  font-size: 1.3em;
}

/*Making a light and dark mode switch*/
.switch {
  width: 80px;
  height: 40px;
  background-color: #95a9c6;
  border-radius: 20px;
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #ffffff;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  /*To put small shadow on the white circle (flicker)*/
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 198);
  position: absolute;
  top: 5px;
  left: 45px;
}

/*When the element of class of dark exists, then I want to look for it's children that have the class name of flicker*/
.dark .flicker {
  transform: translateX(40px);
}

@media (max-width: 1023) {
  header {
    padding: 12px 20px;
  }

  header ul li a {
    padding-left: 10px;
  }

  title {
    font-size: 1.8em;
  }

  section {
    padding: 80px 20px;
  }

  .main-content h2 {
    font-size: 1em;
  }

  .main-content h3 {
    font-size: 1.6em;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 641px) {
  body {
    font-size: 12px;
  }

  .main-content h2 {
    font-size: 0.8em;
  }

  .main-content h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 10px;
  }
}
